@model List<Logbook>

@{
    ViewData["Title"] = "Registro de actividad dentro del sistema";
    Layout = null;
}

<style>
    body {
        background-color: #D3EDF6;
    }

    h2 {
        color: #031435;
        margin-top: 20px;
    }

    hr {
        border: 1px solid #031435;
    }

    .search-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .search-bar input[type="text"] {
        width: 80%;
        padding: 8px;
        border-radius: 10px;
        border: 1px solid #031435;
        background-color: white;
    }

    .search-bar button {
        background-color: #031435;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
    }

    .table {
        background-color: #031435;
        color: black;
    }

    .table th,
    .table td {
        background-color: #D3EDF6;
        border: 1px solid #031435;
    }

    .table th {
        color: #031435;
    }

    .table-responsive {
        max-height: 600px;
        overflow-y: auto;
    }

    .table tbody tr {
        border-radius: 10px;
    }
</style>

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />

    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Buscar por id" onkeyup="searchTable()" />
        <button onclick="loadPage('AuditReport')">Generar reporte</button>
    </div>

    @if (Model == null)
    {
        <div class="alert alert-danger" role="alert">
            Ha ocurrido un error al cargar la lista de acciones. Inténtelo de nuevo más tarde.
        </div>
    }
    else
    {
        <div class="row small mb-3">
            <div class="col text-end">
                Mostrando @(Model.Count) elementos
            </div>
        </div>

        <div id="userTableContainer" class="table-responsive">
            <table id="userTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Id usuario</th>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>IP</th>
                        <th>Fecha</th>
                        @if (ViewBag.SoloAdmin == true)
                        {
                            <th></th>
                            <th></th>
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var audit in Model)
                    {
                        <tr>
                            <td>@audit.Id</td>
                            <td>@audit.IdUser</td>
                            <td>@audit.Action</td>
                            <td>@audit.User</td>
                            <td>@audit.Ip</td>
                            <td>@audit.InitDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
<script>
    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toLowerCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            if (td) {
                txtValue = td[2].textContent || td[2].innerText;
                if (txtValue.toLowerCase().includes(filter)) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>