@model List<User>
@{
    ViewData["Title"] = "Lista de usuarios registrados";
    Layout = null;
}

<style>
    body {
        background-color: #D3EDF6;
    }

    h2 {
        color: #031435;
        margin-top: 20px;
    }

    hr {
        border: 1px solid #031435;
    }

    .search-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .search-bar input[type="text"] {
        width: 80%;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #031435;
    }

    .search-bar button {
        background-color: #031435;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
    }

    .table {
        background-color: #031435;
        color: black;
    }

    .table th,
    .table td {
        background-color: #D3EDF6;
        border: 1px solid #031435;
    }

    .table th {
        color: #031435;
    }

    .table-responsive {
        max-height: 600px;
        overflow-y: auto;
    }

    .table tbody tr {
        border-radius: 10px;
    }
</style>

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />

    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Buscar por nombre de usuario..." onkeyup="searchTable()" />
    </div>

    @if (Model == null)
    {
        <div class="alert alert-danger" role="alert">
            Ha ocurrido un error al cargar la lista de usuarios. Inténtelo de nuevo más tarde.
        </div>
    }
    else
    {
        <div class="row small mb-3">
            <div class="col text-end">
                Mostrando @(Model.Count) elementos
            </div>
        </div>

        @if (Model.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Plan</th>
                            <th>Almacenamiento</th>
                            @if (ViewBag.SoloAdmin == true)
                            {
                                <th></th>
                                <th></th>
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody id="userTable">
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Name</td>
                                <td>@user.Email</td>
                                <td>@user.Plan</td>
                                <td>@user.FreeStorage</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="mt-5">
                <div class="alert alert-warning" role="alert">
                    No se han encontrado usuarios.
                </div>
            </div>
        }
    }
</div>

<script>
    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
