@model File

@{
    var singleton = Singleton.Instance; // Accede a la instancia del singleton
}

<div class="container" style="margin-left: 2;">
    <div class="container-fluid ">
        <h1 class="mt-4 text-white">Detalles del archivo</h1>
        <ol class="mb-4">
            <p class="text-light-gray">Mi unidad > @Model.FolderName </p>
        </ol>
        <div class="row" id="cardsContainer">
            <div class="modal-body d-flex">
                <div class="file-details col-md-6">
                    <div class="file-info mb-4">
                        <div class="d-flex align-items-center">
                            <img src=@Model.FileImage alt="Icon" class="file-icon">
                            <h5 class="ml-2 text-white">@Model.FileName@Model.FileExtension</h5>
                        </div>
                        <hr style="background-color: #D3EDF6; border-color: #D3EDF6;">
                        <p class="mb-4 text-white"><strong>Tipo:</strong> @Model.FileExtension </p>
                        <p class="mb-4 text-white"><strong>Tamaño:</strong> @Model.FileSize MB</p>
                        @if (@Model.FolderName != "Compartidos")
                        {
                            <p class="mb-4 text-white"><strong>Creado:</strong> @ViewBag.CreationDate</p>
                            <p class="mb-4 text-white"><strong>Usuarios con acceso: </strong></p>
                        }
                        else
                        {
                            <p class="mb-4 text-white"><strong>Compartido:</strong> @ViewBag.CreationDate</p>
                            <p class="mb-4 text-white"><strong>Usuario propietario: </strong></p>
                        }



                        <div class="d-flex align-items-center">

                            <div class="ml-2">
                                <p class="mb-4 text-white">@ViewBag.Share</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="file-preview col-md-6">
                    <div>
                        <div id="fileUploadSectiogn">
                            <div class="d-flex justify-content-center mb-1">
                                <div id="selectedPreview"
                                    style="width: 290px; height: 360px; border: 1px solid #ccc; display: flex; align-items: center; justify-content: center;">
                                    @if (Model.FileExtension == ".pdf")
                                    {
                                        <iframe src="@($"data:application/pdf;base64,{Model.PreviewFile}")"
                                            style="width: 100%; height: 100%;"></iframe>
                                    }
                                    else if (Model.FileExtension == ".png" || Model.FileExtension == ".jpg" ||
                                    Model.FileExtension == ".jpeg")
                                    {
                                        <img src="@($"data:image/{Model.FileExtension};base64,{Model.PreviewFile}")">
                                    }
                                    else
                                    {

                                        <div style="display: flex; flex-direction: column; align-items: center;">
                                            <img src=@Model.FileImage style="height: 150px;">
                                            <div class="text-wrap text-white"
                                                style="width: 210px; overflow-wrap: break-word;">
                                                @Model.FileName@Model.FileExtension
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form asp-action="DeleteFileShared" asp-controller="Client">
                    <input type="hidden" asp-for="Id" value=@Model.Id />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
                
                @if (@ViewBag.IsEnabled == true)
                {
                    <button type="button" class="btn btn-primary">Compartir</button>
                }

                <button type="button" class="btn btn-success">Descargar</button>
            </div>

        </div>
    </div>
    </main>

</div>
