@model User

@{
    Layout = null;
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CloSiris</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <style>
        .navbar-custom {
            background: url('images/nube.png') no-repeat center center;
            background-color: #031435;
            background-size: cover;
        }

        .custom-padding {
            margin-left: 10px;
            /* Definir el margen izquierdo deseado */
            margin-right: 10px;
        }



        .default-preview {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .folder-list {
            max-height: 200px;
            overflow-y: auto;
        }

        .contenNavbar {
            background-color: #031435
        }

        .custom-modal .modal-content {
            background-color: #e3f2fd;
        }

        .file-details {
            border-right: 2px solid #000;
        }

        .file-icon {
            width: 50px;
            height: auto;
        }

        .file-info,
        .file-preview {
            padding: 20px;
        }

        .file-info h5,
        .file-info p {
            margin: 0;
        }

        .file-info hr {
            border: 1px solid #000;
        }

        .file-preview img {
            max-width: 100%;
            border: 1px solid #000;
        }

        .modal-footer {
            justify-content: center;
        }

        .modal-footer .btn {
            margin: 5px;
        }

        .storage-text {
            margin-left: 20px;
            color: #ffffff;
        }
    </style>
</head>

<body class="sb-nav-fixed ">
    <nav class="sb-topnav navbar navbar-expand navbar-dark navbar-custom">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html"><img src="images/LogoC.png" alt="Logo"
                class="navbar-logo">CloSiris</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Buscar en CloSiris..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        @{
            var singleton = Singleton.Instance; // Accede a la instancia del singleton
        }
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><img
                        src='@((singleton.InfoUser == null) ? "https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" : $"data:image/png;base64,{singleton.InfoUser.ImageProfile}")'
                        class=" navbar-logo"
                        style="border-radius: 50%; width: 45px; height: 45px; object-fit: cover;"></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!" data-bs-toggle="modal" data-bs-target="#signupModal">
                            <i class="fas fa-edit"></i> Editar perfil</a></li>
                    <li><a class="dropdown-item" href="#!">
                            <i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark navbar-custom" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Página principal</div>

                        <button type="button"
                            class="btn btn-primary btn-lg rounded-pill mt-3 dropdown-toggle custom-padding"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-circle-plus"></i>
                            <span class="btn-text">Nuevo</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            
                            <li><a class="dropdown-item" href="#!" data-bs-toggle="modal" data-bs-target="#folderModal">
                                    <i class="fas fa-folder"></i> Archivo</a></li>
                        </ul>

                        <div class="sb-sidenav-menu-heading">Archivos</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Mi unidad
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @foreach (var item in Model.Folders)
                                {
                                    <a class="nav-link" onclick="loadPage('@item')">@item</a>
                                }
                            </nav>
                        </div>

                        <div class="sb-sidenav-menu-heading">Almacenamiento</div>
                        <span class="storage-text">@ViewBag.FreeStorageMB MB / @ViewBag.TotalStorageMB MB</span>
                        <a class="nav-link">
                            <progress class="my-progress" value="@ViewBag.UsedStoragePercentage" max="100"></progress>
                        </a>
                    </div>
                </div>
                @if (ViewBag.PlanType == "Básico")
                {
                    <div class="sb-sidenav-footer">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#updatePlanModal">
                            Obtener más Almacenamiento
                        </button>
                    </div>
                }
            </nav>
        </div>

        <div id="layoutSidenav_content" class="contenNavbar">
            <main>
                <div class="container-fluid " id="mainContent" style="margin-left: 0;">
                    <h1 class="mt-4 text-white">Bienvenido</h1>
                    <ol class="mb-4">
                        <p class="text-light-gray">Mi unidad</p>
                    </ol>
                    <div class="row" id="cardsContainer">
                        
                        <!-- Más tarjetas aquí -->

                    </div>
                </div>
            </main>
            <footer class="py-4 mt-auto contenNavbar">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; CloSiris 2024</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    </div>

    <div class="modal fade" id="updatePlanModal" tabindex="-1" aria-labelledby="updatePlanModalLabel"
        data-bs-backdrop="static" aria-hidden="true">
        @await Html.PartialAsync("_UpdateUserPlan", new User())
    </div>

    <div class="modal fade" id="folderModal" tabindex="-1" aria-labelledby="folderModalLabel" data-bs-backdrop="static"
        aria-hidden="true">
        @await Html.PartialAsync("_NewFolder", new File{Folders = Model.Folders, FileSelected = null})
    </div>

    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" data-bs-backdrop="static"
        aria-hidden="true">
        @await Html.PartialAsync("_EditProfile", new UserEdit())
    </div>


    

    <script>
        document.getElementById('toggleCards').addEventListener('click', function () {
            var cardsContainer = document.getElementById('cardsContainer');
            if (cardsContainer.style.display === 'none') {
                cardsContainer.style.display = 'flex';
            } else {
                cardsContainer.style.display = 'none';
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var newFileModal = document.getElementById('newFile');

            newFileModal.addEventListener('hidden.bs.modal', function () {
                // Restablecer el formulario
                document.getElementById('newFileForm').reset();

                // Ocultar la sección de carga de archivo
                document.getElementById('fileUploadSection').style.display = 'none';

                // Desactivar todos los botones
                var buttons = newFileModal.querySelectorAll('.btn-secondary');
                buttons.forEach(function (btn) {
                    btn.classList.remove('active');
                });

                // Restablecer la vista previa del archivo
                var preview = document.getElementById('selectedPreview');
                preview.innerHTML = '<span>No file chosen</span>';
            });
        });

        function setFolderName(folderName) {
            document.getElementById('nameFolderSelected').value = folderName;
        }

        function loadPage( folderName) {
            var page = 'ListFiles';
           
            console.log(`Folder name: ${folderName}`);
            
            fetch(`Client/${page}?folderName=${encodeURIComponent(folderName)}`)
            .then(response => response.text())
            .then(html => {
                document.getElementById('mainContent').innerHTML = html;
            })
            .catch(error => console.error('Error loading page:', error));
        }

        function loadPageDetails(fileId,  fileName, fileExtension, fileSize, creationDate, folderName) {
            var page = 'FileInfo';
           
            console.log(`Folder name: ${folderName}`);
           
           fetch(`Client/${page}?fileId=${fileId}&fileName=${fileName}&fileExtension=${fileExtension}&fileSize=${fileSize}&creationDate=${creationDate}&folderName=${folderName}`)
            .then(response => response.text())
            .then(html => {
                document.getElementById('mainContent').innerHTML = html;
            })
            .catch(error => console.error('Error loading page:', error));
        }

    </script>




    <script>
        function displaySelectedImage(event, elementId) {
            const selectedImage = document.getElementById(elementId);
            const fileInput = event.target;

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    selectedImage.src = e.target.result;
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>

    <script>
        function displaySelectedFile(event, elementId) {
            const previewElement = document.getElementById(elementId);
            const fileInput = event.target;
            const file = fileInput.files[0];

            if (file) {
                const reader = new FileReader();
                const span = previewElement.querySelector('span');
                if (span) previewElement.removeChild(span); // Remove the "No file chosen" text

                reader.onload = function (e) {
                    const fileType = file.type;
                    if (fileType.startsWith('image/')) {
                        // Preview image files
                        previewElement.innerHTML = `<img src="${e.target.result}" style="width: 100%; height: 100%; object-fit: cover;" alt="File preview" />`;
                    } else if (fileType === 'application/pdf') {
                        // Preview PDF files
                        previewElement.innerHTML = `<embed src="${e.target.result}" type="application/pdf" width="100%" height="100%" />`;
                    } else {
                        // Preview other files (showing just the name as a placeholder)
                        previewElement.innerHTML = `<span>${file.name}</span>`;
                    }
                };

                reader.readAsDataURL(file);
            }
        }
    </script>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>





</html>